---
title: main.scss
---

@import "bourbon/bourbon";
@import "neat/neat";
@import "syntax";
@import "blog";
@import "post";

@include font-face(Canter, 'fonts/Canter Bold');
@include font-face(Canter-Stripes, 'fonts/Canter Stripes');
@include font-face(Canter-Outline, 'fonts/Canter Outline');

$bgcolor: #1D1C1F;
$accent: #FFB836;
$accent2: #FFB836;


* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: $bgcolor;
  font-family: 'Cardo', sans-serif;
  color: #eeeff7;
  font-size: 1em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: .25em; }
p { margin: 1em 0; }

a {
  color: #eeeff7;
  &:hover   { color: $accent; }
  &:visited { color: $accent; }
}

div.site {
  @include outer-container;
  width: 65%;
  font-size: 115%;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
  position: relative;
}

.site .header {
  @include span-columns(12);
  font-size: 5em;
  font-family: 'Canter';
  letter-spacing: .20em;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.nav {
  @extend .header;
}

.site .header h1.title a {
  color: $accent;
}

.site .header h1.title a:hover {
  color: #eeeff7;
}

.nav a.extra {
  color: #eeeff7;
  font-size: .25em;
  margin-left: 4em;
  font-weight: normal;
  letter-spacing: 10px;
}

.nav a.extra:first-child {
  margin-left: 0em;
}

.nav a.extra:hover {
  color: $accent;
}

.content {
  @include span-columns(12);
  height: auto;
  margin-top: 2em;
}

.site .footer {
  @include span-columns(12);
  font-size: 80%;
  color: #666;
  border-top: 2px solid $accent;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}
