html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	font-family: 'Lato', sans-serif;
	color: #EFEFEF;
	background-image: url("../img/debut_dark.png");
}

h1 {
	font-size: 2.5em;
}

b {
	font-weight: bold;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: .85em;
	color: #808080;
	border-bottom: 1px dotted #808080;
}

a:hover {
	color: #9fa8ff;
	border-bottom: 1px dotted #9fa8ff;
}

.leftcontain {
	margin-left: 50px;
	margin-right: 15px;
	margin-top: 100px;
	width: 600px;
	float: left;
}

.rightcontain {
	margin-top: 180px;
	padding-right: 25px;
	float: right;
	text-align: left;
}

.head {
	width: 100%;
	font-size: 80px;
	padding-top: 50px;
	color: #AFAFAF;
}

.innercontain {
	width: 585px;
	font-size: 14px;
	text-align: right;
}

.content {
	font-size: 24px;
}

.highlight {
	color: #bc7bd4;
}

.highlight, .nav:hover {
	animation: color 2s linear 0 infinite alternate;
	-moz-animation: color 2s linear 0 infinite alternate;
	-webkit-animation: color 2s linear 0 infinite alternate;
	-o-animation: color 2s linear 0 infinite alternate;
}

@keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}

@-moz-keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}

@-webkit-keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}

@-o-keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}
 
.nav {
 	transition: font-size .25s;
	-moz-transition: font-size .25s;
	-webkit-transition: font-size .25s; 
	-o-transition: font-size .25s; 
}

.nav:hover {
	font-size: 18px;
}


#holder {
	min-height: 100%;
	position: relative;
}

#topbanner{
	top: 1px;
	width: 100%;
	height: 15px;
	z-index: 100;
	background-color: #1D242F;
	position: fixed;
}

#wrapper {
	width: 60%;
	left: 50%;
	margin-left: -30%;
	top: 105px;
	position: relative;
}

#header {
	font-size: 56px;
	font-family: 'Merriweather', serif;
}

#nav {
	margin-left: 10%;
	margin-top: -2%;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav ul li {
	display: inline;
	margin: 1em 1em;
}

#nav ul li a, #content a{
	border-bottom: 1px dotted #1D242F;
}

#content {
	padding: 20px 20px 30px 20px;
	margin-top: 10px;
	margin-bottom: 200px;
	background: rgba(222, 222, 202, 0.7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#botbanner{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 1px;
	height: 15px;
	background-color: #1D242F;
}

#fourheader {
	font-size: 128px;
	font-family: 'Merriweather', serif;
	margin-right: -3%;
}
