html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	font-family: 'Lato', sans-serif;
	color: #EFEFEF;
	background-image: url("../img/debut_dark.png");
}

h1 {
	font-size: 2.25em;
}

b {
	font-weight: bold;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: .75em;
	color: #808080;
	border-bottom: 1px dotted #808080;
}

a:hover {
	color: #9fa8ff;
	border-bottom: 1px dotted #9fa8ff;
}

.leftcontain {
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 100px;
	width: 600px;
	float: left;
}

.rightcontain {
	margin-top: 165px;
	margin-right: 25px;
	float: right;
	text-align: left;
}

.head {
	width: 100%;
	font-size: 74px;
	padding-top: 50px;
	text-align: right;
	padding-right: 15px;
	color: #AFAFAF;
}

.innercontain {
	width: 100%;
	font-size: 12px;
	text-align: right;
}

.content {
	font-size: 20px;
}

.highlight {
	color: #bc7bd4;
}

.nav {
 	transition: font-size .25s;
	-moz-transition: font-size .25s;
	-webkit-transition: font-size .25s; 
	-o-transition: font-size .25s; 
}

.nav:hover {
	font-size: 14px;
}

.highlight, .nav:hover {
	animation: color 2s linear 0 infinite alternate;
	-moz-animation: color 2s linear 0 infinite alternate;
	-webkit-animation: color 2s linear 0 infinite alternate;
	-o-animation: color 2s linear 0 infinite alternate;
}

@keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}

@-moz-keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}

@-webkit-keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}

@-o-keyframes color {
	0%   {color: #f29090;}
	25%  {color: #f2d890;}
	50%  {color: #90c3f2;}
	75%  {color: #bc7bd4;}
	100% {color: #f29090;}
}

