---
title: main.scss
---
@import "bourbon/bourbon";
@import "variables";
@import "neat/neat";
@import "syntax";
@import "blog";
@import "post";

@include font-face(Canter, 'fonts/Canter Bold');

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: $bgcolor;
  font-family: 'Cardo', sans-serif;
  color: $base;
  font-size: 1em;
  text-align: center;
  border-top: 10px solid $accent2;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: .25em; }
p { margin: .75em 0; }
ul { margin-left: 1em; }

a {
  color: $base;
  &:visited { color: $accent2; }
  &:hover   { color: $accent; }
}

.small {
  font-size: 75%;
}

div.site {
  @include outer-container;
  width: 45%;
  font-size: 115%;
  text-align: justify;
  margin: 2em auto 2em;
}

.site .header {
  @include span-columns(12);
  font-size: 5em;
  font-family: 'Canter';
  letter-spacing: .20em;
  text-shadow: 3px 3px 0px #2c2e38, 4px 4px 0px $accent2;
  max-width: 100%;
  text-align: center;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  font-family: 'Canter';
  letter-spacing: .25em;
}

.site .header h1.title a {
  color: $accent;
}

.site .header h1.title a:hover {
  color: $base;
}

.nav a.extra {
  color: $base;
  font-size: 1.25em;
  margin-left: 4em;
  font-weight: normal;
  text-shadow: none;
  letter-spacing: 10px;
}

.nav a.extra:first-child {
  margin-left: 0em;
}

.nav a.extra:hover {
  color: $accent;
}

.content {
  @include span-columns(12);
  height: auto;
  margin-top: 2em;
}

.portfolio a {
  text-decoration: none;
  margin: 2px;
}

.portfolio img {
  border: 1px solid $accent2;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}

.portfolio img:hover {
  border: 1px solid $accent;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.site .footer {
  @include span-columns(12);
  font-size: 80%;
  color: $accent2;
  border-top: 2px solid $accent;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: $accent2;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}
