body {
	font-family: 'Open Sans', sans-serif;
	color: #1D242F;
	background-color: #F4F4EA;
}

a {
	text-decoration: none;
	color: #1D242F;
}

a:hover {
	color: #EA2E49;
}

#canvas {
    position: absolute;
    z-index: -1;
	top: 0px;
	left: 0px;
}

#topbanner{
	position: absolute;
	top: 1px;
	width: 100%;
	height: 2%;
	background-color: #1D242F;
}

#wrapper {
	margin: 5% auto 12% auto;
	width: 60%;
}

#header {
	font-size: 56px;
	font-family: 'Merriweather', serif;
}

#nav {
	margin-left: 10%;
	margin-top: -2%;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav ul li {
	display: inline;
	margin: 1em 1em;
}

#nav ul li a, #content a{
	border-bottom: 1px dotted #1D242F;
}

#content {
	padding: 20px 20px 30px 20px;
	margin-top: 10px;
	background: rgba(222, 222, 202, 0.7);
}

#botbanner{
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 2%;
	background-color: #1D242F;
}

#fourheader {
	font-size: 128px;
	font-family: 'Merriweather', serif;
	margin-right: -3%;
}
