body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image:url('../img/office.png');
    color: #DDDDDD;
    font-family: 'Open Sans', sans-serif;
}

.container-narrow {
    background: rgba(1, 1, 1, .15);
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    max-width: 860px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 70px;
    line-height: 62px;
    text-align: center;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 15px 24px;
}

.desc {
  font-size: 24px;
  margin-top: -15px;
  position: relative;
}

.desc .boldlight {
  font-weight: 700;
  color: #DDDDDD;
}

.marketing {
    margin: 60px 0;
}

.margeting p + h4 {
    margin-top: 28px;
}

.nav {
  margin-top: 15px;
}

.carousel-indicators {
  margin-top: -50px;
}

.carousel-control {
  font-size: 24px;
  border: none;
  background: none;
}

.lead {
  padding-left:50px;
  padding-right:50px;
}

.iphone {
  margin-top: 20px;
}

.iphone h4 {
  font-weight:normal;
  margin-left: 3px;
}

.table th {
  text-align: center;
}
.table td {
  text-align: center;
}

.green {
  color: lightgreen;
}

.red {
  color: darkred;
}

.test {
  text-align: center;
  display: block;
  color: #CCCCCC;
  font-style: oblique;
  padding: 20px;
  font-size:16px;
}

.main {
  margin-top: -50px;
  text-align: center;
}

#map {
  border-radius: 15px;
}

.colors {
  border-radius: 5px;
  display: block;
  position: relative;
  left: 10%;
}
