<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progress Tracker</title>
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css"/>
	<link href="css/jqueryui.css" media="all" rel="stylesheet" type="text/css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div id="trackerapp">
      <div class="title">
        Progress Tracker
      </div>
      <div class="content">
      </div>
    </div>

	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/jqueryui.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/parse-1.1.15.min.js"></script>
    <script src="js/main.js"></script>

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          Log In<br/>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          Sign Up<br/>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="managetrackerstemplate">

      <div class="section">

          <input id="title" placeholder="Read" type="text" />
 		  <input id="target" placeholder="5" type="text" />
 		  <input id="unit" placeholder="Books" type="text" />

        <div id="main">

          <ul id="trackerlist">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

      </div>
	  <div id="user-info">
        Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>
    </script>

    <script type="text/template" id="trackertemplate">

      <li>
	    <div class="view">

	      <label class="innercontent"><%= title %></label>
	      <label class="innercontent"><%= target %></label>
	      <label class="innercontent"><%= type %></label>
		  <div class = "innerview">
			<button class="add">+</button>
			<button class="remove">-</button>
			<div class = "progressbar" id = "<%= rnum %>b"></div>
			<button class="destroyme">X</button>
		  </div>
		  <div class = "poverlay" id = "<%= rnum %>o"></div>

	    </div>
      </li>

    </script>

  </body>

</html>
