html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #FFCC00;
	background: #262626;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

button {
    border: 1px solid #777777;
    background: #989898;
    color: white;
    font: bold 11px 'Trebuchet MS';
    padding: 4px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input {
    border: 1px solid white;
    height: 10px;
    color: white;
    -webkit-box-shadow:
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 4px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 4px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 4px rgba(0,0,0,0.1);
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #efefef;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #efefef;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #efefef;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #efefef;
}
button {
}

button.add {
	border: 1px solid #111111;
    background: #6e9e2d;
    color: white;
    font: bold 11px 'Trebuchet MS';
    margin: 0px auto;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    line-height: 2px;
}

button.remove {
	border: 1px solid #111111;
    background: #555555;
    color: white;
    font: bold 11px 'Trebuchet MS';
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  line-height: 2px;
}

button.destroyme {
	border: 1px solid #111111;
    background: #555555;
  border-radius: 5px;
    color: white;
    font: bold 11px 'Trebuchet MS';
  line-height: 22px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

#trackerapp {
	margin: 80px auto;
  width: 700px;
  -moz-box-shadow:    3px 3px 3px 0px #000;
  -webkit-box-shadow: 3px 3px 3px 0px #000;
  box-shadow:         3px 3px 3px 0px #000;
}

.title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	font-size: 48px;
  font-weight: normal;
  text-align:center;
  margin: 0px auto;
  padding-bottom: 15px;
  padding-top: 25px;
  background: #3B3936;
  text-shadow: 0px 2px 3px #000;
}

.content {
  text-align: center;
  background: #3B3936;
  margin: 0px auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 45px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}

.view {
  margin: 10px auto;
  display: block;
}

.add {
  position: absolute;
  left: 70px;
  bottom: 20px;
  height: 16px;
  width: 16px;
}

.remove {
  position: absolute;
  left: 70px;
  bottom: 0px;
  height: 16px;
  width: 16px;
}
.destroyme {
  position: absolute;
  right: 70px;
  top: 0;
  height: 34px;
}
.innerview {
  position: relative;
}

.progressbar {
  width: 500px;
  margin: 0px auto;
}

.login {
}

.login-form, .signup-form {
  font-size: 24px;
  font-weight: 100;
}

#user-info {
  font-size: .75em;
  font-style: oblique;
  color: #757575;
  position: absolute;
  bottom: 1px;
  left: 275px;
}

.pBar {
	width: 400px;
	height: 1em;
	color: #FFF;
	background: #555;
}

.poverlay {
	margin-top: -28px;
	margin-left: 350px;
	height: 28px;
}
