html, body {
    background-color: $background;
    color: $primary-text;
    font-family: $monospace;
}


a, a:visited {
    color: $link;
}

a:hover, a:active {
    color: $link-hover;
}

.main-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header {
    padding-bottom: 1rem;
}