html, body {
    background-color: $background;
    color: $primary-text;
    font-family: $monospace;
}
header {
    border-bottom: 3px solid $light-red;
    padding: 5px;
    margin-bottom: 20px;

    img {
        max-width: 100%;
    }
}
img {
    max-width: 100%;
}

#post-contain {
    img:not(.header-img) {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #666;
    }
}

a, a:visited {
    color: $link;
}
a:hover, a:active {
    color: $link-hover;
}

.main-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-width: 700px;
}
.header {
    padding-bottom: 1rem;
}

blockquote {
    position: relative;
    width: 95%;
    font-size: 18px;
    line-height: 22px;
    padding-left: 20px;
    border-left: 2px solid #fff;
  }
  
  blockquote span {
    display: block;
    text-align: right;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }

table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  font-size: 14px;
}

th {
  background-color: $blue;
  color: $primary-text;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

th:hover {
  background-color: $secondary-text;
}

th.sorting-asc::after {
  content: " ▲";
}

th.sorting-desc::after {
  content: " ▼";
}

td {
  border: none;
  border-bottom: 1px solid $primary-text;
  color: $primary-text;
  padding: 10px;
  vertical-align: middle;
}

tr:nth-child(odd) {
  background-color: $red;
}

tr:nth-child(even) {
  background-color: $light-red;
}

tr:hover {
  background-color: $secondary-text;
  color: $primary-text;
}
