.blog-post {
  border-bottom: 1px solid $accent;
  margin-bottom: 15px;
}

.blog-post:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.blog-header {
  font-size: 100%;
}

.excerpt {
  font-style: italic;
  font-size: 95%;
}
