/// COLORS

$background: #000;

$primary-text: #00ff00;
$secondary-text: #008800;
$tertiary-text: #bbb;

$link: #109CFF;
$link-hover: #fff;
$link-visited: #fff;
$link-active: #fff;

$primary: green;
$secondary: red;
$tertiary: blue;

// FONTS
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
$monospace: 'Inconsolata', monospace;