/// COLORS

$background: #010000;

$blue: #59a3ce;
$yellow: #f0ad44;
$red: #f82380;
$light-red: #ea5e95;
$purple: #9077d8;
$tan: #f8a391;

$primary-text: #f6f6f6;
$secondary-text: $purple;
$tertiary-text: #666666;

$link: $purple;
$link-hover: $blue;
$link-visited: $blue;
$link-active: $blue;



// FONTS
@font-face {
	font-family: "undefined-medium";
	src: url("fonts/undefined-medium.woff") format("woff"),
	     url("fonts/undefined-medium.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
$monospace: "undefined-medium", "Inconsolata", monospace;
