html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	font-family: 'Lato', sans-serif;
	background: #EFEFEF;
}

h1 {
	font-size: 2.5em;
}

b {
	font-weight: bold;
}

#header {
	display: block;
	margin: 0px auto;
	padding: 50px 0;
	text-align: center;
}

#content {
	width: 100%;
	font-size: 1.25em;
	padding: 50px 0;
	margin: 0px auto;
	color: #AFAFAF;
	background: #454545;
	text-align: center;
}

#portfolio {
	width: 700px;
	padding: 25px 0;
	margin: 0px auto;
}

#portfolio h1 {
	margin-bottom: 10px;
}

#portfolio img:first-of-type {
	padding-left: 0px;
	padding-right: 23px;
}

#portfolio img:last-of-type {
	padding-left: 23px;
	padding-right: 0px;
}

#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align:center;
	padding: 5px 0;
	margin: 0px auto;
	color: #AFAFAF;
	background: #454545;
}

.highlight {
	color: #9fa8ff	;
	padding-left: 2px;
	padding-right: 2px;
}