<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
    		<script type="text/javascript">
    			var _gaq = _gaq || [];
    			_gaq.push(['_setAccount', 'UA-34413759-1']);
    			_gaq.push(['_trackPageview']);

    			(function() {
    				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    			})();
    		</script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <div id="bg-canv-wrap">
          <canvas id="bg-canv"></canvas>
        </div>
        <div class="site">
          <div class="header">
            <h1 class="title">
              <a href="/">{{ site.name }}</a>
            </h1>
          </div>

          <div class="nav">
            <a class="extra" href="/about.html">about</a>
            <a class="extra" href="/projects.html">projects</a>
            <a class="extra" href="/essays.html">essays</a>
          </div>

          <div class="content">
            {{ content }}
          </div>

          <div class="footer">
            <div class="contact">
              <p>
                justin oblak<br />
                me@justinoblak.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/jroblak">github.com/jroblak</a><br />
                <a href="http://www.linkedin.com/in/justinoblak">linkedin.com/in/jroblak</a><br />
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
